<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%; margin-top: -50px;">
  <div fxLayout="column" fxLayoutAlign="center center">
    <p>
      Wiek od:
      <mat-slider thumbLabel [displayWith]="formatLabel" step="1" min="18" max="100" aria-label="units" style="width: 350px"></mat-slider>
    </p>
    <p>
      Wiek do:
      <mat-slider thumbLabel [displayWith]="formatLabel" step="1" min="18" max="100" aria-label="units" style="width: 350px"></mat-slider>
    </p>
    <p>
      Płeć:
    </p>
    <p>
      <mat-slide-toggle>Kobieta</mat-slide-toggle>
    </p>
    <p>
      <mat-slide-toggle>Mężczyzna</mat-slide-toggle>
    </p>
  </div>
</div>
