<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
    <p style="margin-right: 20px;">Age range: </p>
      <ngx-slider style="width: 450px;" [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
    <p style="margin-right: 20px;">Show me: </p>
    <mat-form-field>
      <mat-label>Choose</mat-label>
      <mat-select>
        <mat-option *ngFor="let gender of genders" [value]="gender.value">
          {{gender.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
