::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #1ed760;
  }
  .mat-form-field-ripple {
    background-color: #1ed760;
  }
  .mat-form-field-required-marker {
    color: #1ed760;
  }
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #1ed760!important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #1ed760!important;
}

.txt {
  height: 25vh!important;
  resize: none;
  overflow: hidden;
  font-size: 1.45vh;
}

.photos {
  width: 18vw;
  height: 50vh;
  border: 2px solid black;
  margin-right: 1.4vw;

}

.save {
  background: #1ed760;
  color: black;
  float: right;
  outline: black;
  margin-left: 2vw;
  margin-top: 1.5vh;
}


.names {
  width: 16vw;
}
