<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%; margin-top: -50px;">
  <div style="width:200px; height: 320px; border: 2px solid black; background-color: #1ed760; border-radius: 5px; -webkit-border-radius: 5px; margin-top: 3vw">
    <p fxLayout="column" fxLayoutAlign="center center">Zdjęcia użytkownika</p>
  </div>
</div>
<div fxLayout="row">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 100px; margin-top: 80px">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 200px;">
      <mat-form-field fxLayoutAlign="center center" class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input type="fname" matInput placeholder="John">
      </mat-form-field>
      <mat-form-field fxLayoutAlign="center center"  class="example-full-width" appearance="fill" style="margin-left: 30px;">
        <mat-label>Last name</mat-label>
        <input type="lname" matInput placeholder="Doe">
      </mat-form-field>
    </div>
    </div>
</div>
<!--<div fxLayout="row" fxLayoutAlign="space-around center" style="height: 100px; margin-top: 80px">-->
<!--  <mat-form-field class="example-full-width" appearance="fill">-->
<!--    <mat-label>Choose a date</mat-label>-->
<!--    <input matInput [matDatepicker]="picker">-->
<!--    <mat-datepicker-toggle matSuffix [for]="picker">-->
<!--      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
<!--    </mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker></mat-datepicker>-->
<!--  </mat-form-field>-->
<!--</div>-->
