::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #1ed760;
  }
  .mat-form-field-ripple {
    background-color: #1ed760;
  }
  .mat-form-field-required-marker {
    color: #1ed760;
  }
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #1ed760!important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #1ed760!important;
}

.txt {
  height: 25vh!important;
  resize: none;
  overflow: hidden;
  font-size: 1.45vh;
}

.photos {
  width: 15vw;
  height: 45vh;
  border: 2px solid black;
  background-color: #1ed760;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 0.7vw
}

.save {
  background: #1ed760;
  color: black;
  float: right;
  outline: black;
}
.hobby-pick {
  width: 100%;
  color: black;
  float: right;
  font-size: 1.45vh;
}

.names {
  width: 14vw;
  .fname {
    width: 6vw;
    margin-right: 2vw;
  }

  .lname {
    width: 6vw;
    margin-right: 2vw;
  }
}
