<form [formGroup]="myProfile">
  <div fxLayout="row" fxLayoutAlign="center center"  style="height: 100%; margin-top: 8%; width: 100%!important;">
    <div fxLayout="column">
      <div class="photos">
        <p fxLayoutAlign="center center">
          Zdjęcia użytkownika
        </p>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="column" class="names">
        <mat-form-field class="fname"  fxLayoutAlign="space-around-center" appearance="outline" style="font-size: 1.45vh;">
          <mat-label>Name</mat-label>
          <input formControlName="name" type="name" matInput>
        </mat-form-field>
      </div>
      <div fxLayout="column" class="Age">
        <mat-form-field class="Age"  fxLayoutAlign="space-around-center" appearance="outline" style="font-size: 1.45vh;">
          <mat-label>Age</mat-label>
          <input formControlName="age" type="age" matInput>
        </mat-form-field>
      </div>
      <div>
          <mat-form-field appearance="outline" style="width: 24vw !important;" >
            <mat-label>Opis</mat-label>
            <textarea [maxLength]="255" formControlName="bio" type="bio" class="txt"  matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
      </div>
      <div fxLayout="column" class="sex">
        <mat-form-field class="sex"  fxLayoutAlign="space-around-center" appearance="outline" style="font-size: 1.45vh;">
          <mat-label>Enter your gender (MALE/FEMALE) all caps</mat-label>
          <input formControlName="sex" type="sex" matInput>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button class="save" (click)="showMessageSoon()">Save</button>
        <p *ngIf="showMyMessage">Profile info saved!</p>
      </div>
    </div>
  </div>
</form>
