.Dec {
  background: #1ed760;
  color: black;
  min-width: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
}

.bio {
  margin-top: 18vh;
  width: 15vw !important;
  height: 40vh!important;
  font-size: 1.45vw;
  word-break: break-all;
  line-height: 26pt;
}

.name {
  margin-top: 5vh;
  margin-left: 1vw;
  font-size: 2.5vw;
}

.age {
  margin-top: 5vh;
  margin-right: 1vw;
  font-size: 2.5vw;
}
