<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%; margin-top: 120px;">
  <div style="width:350px; height: 540px; border: 2px solid black; background-color: #1ed760; border-radius: 5px; -webkit-border-radius: 5px; margin-top: 8vh">
    <p fxLayoutAlign="center center">
      Profile do przeglądania
    </p>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" style="height: 150px;">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 300px;">
    <button mat-fab class="Dec" >
      <mat-icon>thumb_down_alt</mat-icon>
    </button>
    <button mat-fab class="Dec">
      <mat-icon>thumb_up_alt</mat-icon>
    </button>
  </div>
</div>
