<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div style="width: 18vw; height: 49vh; border: 2px solid black; background-color: #1ed760; border-radius: 5px; -webkit-border-radius: 5px; margin-top: 18vh">
<!--      <p fxLayoutAlign="center center">-->
<!--        Profile do przeglądania-->
<!--      </p>-->
      <img>
    </div>
    <div fxLayout="column">

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 18vh;">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 16vw;">
      <button mat-fab class="Dec" >
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
      <button mat-fab class="Dec">
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
    </div>
  </div>
</div>
