<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div>
        <img style=" margin-top: 18vh;  width: 18vw; height: 50vh; margin-right: 1.4vw;" src="{{picture}}">
      </div>
      <div class="bio" style="width: 15vw !important; height: 40vh!important;">
        {{bio}}
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="age" >
        {{age}}
      </div>
      <div class="name">
        {{name}}
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 18vh;">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 16vw;">
      <button (click)="voteNoFunc()" mat-fab class="Dec" >
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
      <button (click)="voteYesFunc()" mat-fab class="Dec">
        <mat-icon >thumb_up_alt</mat-icon>
      </button>
    </div>
  </div>
</div>
