
<div class="chatbody">
  <div style="display: flex;">
    <mat-list style="width: 100px;overflow-y: auto; flex-direction: row;">
      <div *ngFor="let pair of pairs">
        <mat-list-item>
          <button mat-flat-button color="accent" style="margin: 5%;" (click)="loadChat(pair)">
            {{pair.id}}
          </button>
        </mat-list-item>
      </div>
    </mat-list>

    <div id="Chat+text">
    <div class="chatlist" id="chat">
     <div *ngFor="let message of receivedMessages">
      <div class="chatItem" style="justify-content: right;" *ngIf="message.senderId != currentRecipientId; else elseBlock">
        <mat-chip id="msg-elem" >{{message.content}}</mat-chip>
      </div>
      <ng-template #elseBlock>
      <div class="chatItem" style="justify-content: left">
        <mat-chip id="msg-elem" style="background-color:aqua">{{message.content}}</mat-chip>
      </div>
     </ng-template>
     </div>
    </div>
    <div class="chat-footer">
      <textarea id="msginput" [(ngModel)]="chatInput"></textarea>
      <button id="sendbutton" (click)="send(chatInput)" [disabled]="chatInput.length <= 0">Send</button>
      <button id="testbutton" (click)="testButton()">TEST</button>
    </div>
    </div>
  </div>

</div>

