<div class="chatbody" fxLayout="column" fxLayoutAlign="center center">
  <div class="card">
    <div class="chatlist">
      <div class="chatitem l">
        <p>test</p>
      </div>
      <div class="chatitem r">
        <p>testtetase
          uweairghiqweuhiuqwheiwhuiwhiudwhiduhwuidhwiouhndwuio hiowerte5bterbte4bte4bttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest
          testtesttesttesttesttesttesttesttesttesttesttesttesttesttestuweairghiqweuhiuqwheiwhuiwhiudwhiduhwuidhwiouhndwuio hiowerte5bterbte4bte4bttesttesttesttesttesttesttesttesttesttesttesttesttesttesttestuweairghiqweuhiuqwheiwhuiwhiudwhiduhwuidhwiouhndwuio hiowerte5bterbte4bte4bttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest
          testtesttesttesttesttesttesttesttesttesttesttesttesttesttest
          testtesttesttesttesttesttesttesttesttesttesttesttesttesttest
        </p>
      </div>
    </div>
  </div>
</div>

