$background: white;
$prim: #1ed760;

.chatbody {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  z-index: 99;
  flex-direction: column;
  margin-left: 0;
  background-color: white;
}

.card {
  height: 100vh;
  z-index: 99;
  background: $background;
  flex-direction: column;
  width: 53vw;
  display: flex;
}

.chatlist {
  display: flex;
  height: 50vh;
  width: 47vw;
  flex-direction: column;
  margin-top: auto;
  padding: 16px;
  overflow-y: auto;

  .chatItem {
    max-width: 80%;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    #msg-elem {
      margin: auto 8px;
      background: #1ed760;
      padding: 8px 24px;
      border-radius: 24px;
      filter: drop-shadow(1px 1px 3px black);
      max-width: 30vw;
      word-break: break-word;

    }

    #profpic {
      height: 4vh;
      width: 4vh;
      object-fit: cover;
      border-radius: 50%;
      z-index: 100;
      border: 3px solid $background;
    }

    #time {
      margin: auto 0;
      padding-top: 1.5vh;
    }
  }
}

.chat-footer {
  display: flex;
  flex-direction: row;
  padding: 16px;
  min-height: 6vh;
  #msginput {
    flex: 1;
    font-size: 1.45vh;
    margin: 0 8px;
    border: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    padding: 16px;

  }
  #sendbuton {
    border: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    background: white;
    padding: 0 8px;

  }
}
