<div class="sidecontainer" style="-moz-box-shadow:  3px 0 0 #000000; -webkit-box-shadow:  3px 0 0 #000000;
  box-shadow: inset 0 0 10px #000000;">
  <div fxLayout="column" fxLayoutAlign="center">
    <p fxLayoutAlign="center">
      Profil użytkownika
    </p>
    <p fxLayoutAlign="center">
      -----------------------
    </p>
    <p fxLayoutAlign="center">
      Profil 1
    </p>
    <p fxLayoutAlign="center">
      Profil 2
    </p>
    <p fxLayoutAlign="center">
      ITD.
    </p>
  </div>
</div>
